<p class="title">MOVIES LIST</p>
<div class="card" style="width: 25rem;">
    <img src="https://cdn.wallpapersafari.com/71/79/ABPkK1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">THOR</h5>
      <p class="card-text">The powerful but arrogant god Thor is cast out of Asgard to live amongst humans in Midgard (Earth), where he soon becomes one of their finest defenders.</p>
      <a href="#" class="btn btn-primary">Stream Online</a>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://rukminim2.flixcart.com/image/850/1000/kv5kfww0/wall-decoration/s/e/t/inception-leonardo-dicaprio-movie-posters-entertainment-movies-original-imag846zrgj6zmbu.jpeg?q=20" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">INCEPTION</h5>
      <p class="card-text">A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.</p>
      <a href="#" class="btn btn-primary">Stream Online</a>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://cdn.bollywoodmdb.com/fit-in/movies/largethumb/450x450/2021/pushpa/poster.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PUSHPA</h5>
      <p class="card-text">A labourer rises through the ranks of a red sandal smuggling syndicate, making some powerful enemies in the process.</p>
      <a href="#" class="btn btn-primary">Stream Online</a>
    </div>
  </div>
