<p class="title">CHORES LIST</p>
<div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/1270954830/photo/close-up-womans-hand-washing-dishes-over-kitchen-sink.webp?b=1&s=170667a&w=0&k=20&c=pv-v_x86hLu8V09OIFhuT5X7jDao8VxvB0zo9ib6YMk=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Wash your cutting boards, dishes, utensils, and countertops with hot soapy water after preparing each food item and before you go on to the next food</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/841234272/photo/worker-cleaning-floor-with-sweep.webp?b=1&s=170667a&w=0&k=20&c=nAoXXusvISUoQeDE7MpG0P8CxXKxnucIM8p23PgyKqc=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Sweeping floors keeps them free of unsightly and unhygienic dust and debris, and is often the first step in more extensive cleaning projects.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/1314139120/photo/children-making-bed-in-their-room-before-the-online-lessons.webp?b=1&s=170667a&w=0&k=20&c=AWqHxU4XQo6kMrrojM1xd-vr36-iRrrOmUK9m0hbueU=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">The habit of making your bed in the morning has a far-reaching impact on you throughout the day than you can imagine.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/1322704672/photo/watering-salad-in-raised-bed-in-garden-gardening-in-spring-time.webp?b=1&s=170667a&w=0&k=20&c=Pw3LF44DsxUozvbBbygijf2etkS-jgQBfRvlC6ti-SU=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">It's best to water plants either in the morning or the evening, regardless of whether you're watering them weekly, daily, or twice a day.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/1368091437/photo/young-woman-ironing-close-up.webp?b=1&s=170667a&w=0&k=20&c=n6O9-bZwnNetlNOjx_LfyQnz9hK-PD5pmbI_W60DjIQ=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Ironing can keep your clothes wrinkle-free and looking neat and crisp. Ironing is the process of moving a hot iron along material to remove creases and wrinkles.</p>
    </div>
  </div>
  <div class="card" style="width: 25rem;">
    <img src="https://media.istockphoto.com/id/1129550142/photo/housewife-organizing-clothes-in-wardrobe.webp?b=1&s=170667a&w=0&k=20&c=l9d_1BVDodPrSG1q1tsDp6qnQSSEcEKdMl-hl853I9Q=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">An organized closet helps create clarity and begins your morning with a positive attitude. An organized closet promotes better mental well-being by creating a serene environment, lowering stress levels associated with having a messy space.</p>
    </div>
  </div>


